[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/mirodark"]
	path = bundle/mirodark
	url = https://github.com/vim-scripts/mirodark.git
	ignore = dirty
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
	ignore = dirty
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/vim-scripts/jellybeans.vim.git
	ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
	ignore = dirty
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
	ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
	ignore = dirty
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
	ignore = dirty
[submodule "bundle/vim-hybrid"]
	path = bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
	ignore = dirty
[submodule "bundle/vim-bling"]
	path = bundle/vim-bling
	url = https://github.com/ivyl/vim-bling
	ignore = dirty
[submodule "bundle/SearchComplete"]
	path = bundle/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete
	ignore = dirty
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
	ignore = dirty
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
	ignore = dirty
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
	ignore = dirty
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
	ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
	ignore = dirty
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = https://github.com/xolox/vim-notes
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "bundle/Vim-Jinja2-Syntax"]
	path = bundle/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim
